body { background: url('../images/background.gif') repeat; font-family: Georgia, serif; }
body, select, input, textarea { color: #232323; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
a, a:active, a:visited { color: #ed1b24; text-decoration: none; }
a:hover { color: #fff; background-color: #ed1b24; text-shadow: none; }
a.img:hover { background-color: transparent; }

/****************************************/
/* HEADER
/****************************************/
#container { background-image: url('../images/header/background_pattern.jpg'); background-repeat: repeat-x; }
#header { height: 107px; background-image: url('../images/header/background_design.jpg'); background-repeat: no-repeat; background-position: center top; min-width: 939px; }
#header .wrapper { width: 939px; height: 100%; margin: auto; position: relative; }
#header .logo { padding-top: 30px; }
#header .logo a:hover { background-color: transparent; }
#header .background { position: absolute; top: 0; left: 0; z-index: 1; }
.page #header { height: 112px; background-image: url('../images/header/background_page.jpg'); }

#navigation { float: right; margin-top: 80px; }
#navigation a { display: block; float: left; text-indent: -9999px; height: 17px; background-color: transparent; background-position: 0 0; }
#navigation a.writings { width: 84px; background-image: url('../images/header/nav_writings.png'); }
#navigation a.sightsandsounds { width: 151px; background-image: url('../images/header/nav_sightsandsounds.png'); }
#navigation a.about { width: 73px; background-image: url('../images/header/nav_about.png'); }
#navigation a.subscribe { width: 103px; background-image: url('../images/header/nav_subscribe.png'); }
#navigation a.contact { width: 82px; background-image: url('../images/header/nav_contact.png'); }

/****************************************/
/* MAIN
/****************************************/
#main { width: 940px; margin: 0 auto; padding-top: 30px; }
#main h4 { float: left; width: 600px; font-size: 18px; line-height: 1.6em; text-shadow: 1px 1px 1px #fff; margin: -6px 0 25px 0; }
#main h4 span.lead { float: left; font-size: 72px; line-height: 62px; margin: -7px 3px 0 8px; font-style: oblique; }
#main h4.headline { margin: 10px 0 50px 0; }
#main h1 { height: 69px; text-indent: -9999px; background-repeat: no-repeat; margin-top: 40px; }
#main h1.about { background-image: url('../images/title_about.png'); }
#main h1.subscribe { background-image: url('../images/title_subscribe.png'); }
#main h1.contact { background-image: url('../images/title_contact.png'); }
#main h1.getupdates { background-image: url('../images/title_getupdates.png'); }
#main h1.sightsandsounds,
#main h1.sights-and-sounds { background-image: url('../images/title_sightsandsounds.png'); }
#main h1.writings { background-image: url('../images/title_writings.png'); }
#main .icon { display: block; position: relative; margin: 60px auto; padding-right: 80px; }

#main h3.subhead { height: 30px; text-indent: -9999px; background-repeat: no-repeat; }
#main h3.subhead.radio_silence_live { background-image: url('../images/pages/subtitle_live.png'); }
#main h3.subhead.radio_silence_on_the_page { background-image: url('../images/pages/subtitle_on_the_page.png'); }
#main h3.subhead.radio_silence_online { background-image: url('../images/pages/subtitle_on_the_web.png'); }
#main h3.subhead.do_it_for_the_kids { background-image: url('../images/pages/subtitle_for_the_kids.png'); }

/****************************************/
/* SIDEBAR
/****************************************/
#sidebar { position: relative; float: right; width: 290px; padding: 30px 0 0 30px; text-shadow: 1px 1px 1px #FFF; line-height: 1.5em; background-image: url('../images/sidebar/bg.jpg'); background-repeat: repeat-y; }
#sidebar img.bg_top { position: absolute; top: -20px; left: 0; }
#sidebar img.bg_bottom { position: absolute; bottom: -50px; left: 0; }
#sidebar hr { margin: 25px 2px; border-color: #c4c4c4; }
#sidebar p { font-family: Helvetica, Arial, sans-serif; font-size: 14px; text-shadow: 1px 1px 1px #FFF; line-height: 1.5em; margin-bottom: 20px; }
#sidebar p.info { font-family: Georgia, serif; font-size: 13px; font-style: oblique; color: #545353; margin-top: 15px; line-height: 1.7em; }
#sidebar h3 { text-indent: -9999px; background-repeat: no-repeat; width: 100%; height: 30px; margin-bottom: 8px; }
#sidebar h3.headline_subscriptions { background-image: url('../images/sidebar/headline_subscriptions.png'); height: 42px; }
#sidebar h3.headline_thecrew { background-image: url('../images/sidebar/headline_thecrew.png') }
#sidebar h5 { font-size: 17px; margin-bottom: 19px; }
#sidebar h6 { font-weight: bold; }
#sidebar .social a { display: block; font-family: Georgia, serif; font-size: 17px; padding-left: 50px; color: inherit; line-height: 33px; background-repeat: no-repeat; background-position: 0 5px; }
#sidebar .social a:hover { background-color: transparent; color: #ed1b24; text-shadow: 1px 1px 1px #FFF; }
#sidebar .social a.twitter { background-image: url('../images/sidebar/social_twitter.png'); }
#sidebar .social a.facebook { background-image: url('../images/sidebar/social_facebook.png'); }
#sidebar .social a.rss { background-image: url('../images/sidebar/social_rss.png'); }
#sidebar .social a.email { background-image: url('../images/sidebar/social_email.png'); }
#sidebar dl { line-height: 1.5em; }
#sidebar dt { font-style: oblique; margin: 18px 0 0 0; }
#sidebar dd { font-family: Helvetica, Arial, sans-serif; font-size: 15px; line-height: 26px; }
#sidebar .item.last { border: none; }

/****************************************/
/* FEED
/****************************************/
.feed { position: relative; width: 605px; padding-bottom: 26px; clear: left; }
.separator { margin: 0 0 40px 0; }
.page .feed { color: #2d2d2d; }
.feed h2.headline_blog { text-indent: -9999px; background: url('../images/headline_blog.png') no-repeat; width: 100%; height: 41px; margin-top: 60px; }
.feed .item { padding: 25px 65px 10px 0px; }
.page .feed .item { padding: 5px 30px 25px 15px; }
.feed .item img { margin-bottom: 20px; }
.feed blockquote { width: 454px; text-align: right; margin: -24px 0 0 0; padding: 3px 0; font-size: 10px; font-family: Arial; color: #7d7d7d; }
.feed blockquote p { margin: 0; padding: 0; font-family: inherit; font-size: inherit; }
.feed h3 { font-size: 24px; line-height: 1.5em; }
.feed h3 a, .feed h3 a:hover { color: #444; background: transparent; }
.feed h3 a:hover { color: #ed1b24; }
.feed h5.timestamp { font-size: 15px; color: #555; font-style: oblique; margin-bottom: 15px; }
.feed p { font-size: 14px; line-height: 1.8em; margin-bottom: 1.5em; }
.page .feed p { font-size: 15px; line-height: 1.6em; }
.feed .icon { clear: both; margin: 80px auto 0 auto; padding: 0; }
.page .feed .icon { margin-top: 0; }
.feed .bottom { background: url('../images/feed_footer.png'); width: 619px; height: 27px; position: absolute; left: 0px; bottom: -27px; }
.feed hr.full { position: relative; left: -15px; width: 620px; height: 3px; background-image: url('../images/feed_header.png'); border: none; margin-bottom: 35px; }


/****************************************/
/* FOOTER
/****************************************/
#footer { width: 100%; height: 55px; margin-top: 110px; background: url('../images/footer/background.gif'); }
#footer .wrapper { position: relative; width: 960px; margin: auto; vertical-align: middle; }
#footer p { font-size: 12px; line-height: 52px; padding: 3px 0 0 127px; color: #fff; text-shadow: 1px 1px 1px #000; }
#footer p.banner { width: 155px; height: 52px; position: absolute; top: -22px; left: -4px; padding: 0; text-indent: -9999px; background-image: url('../images/footer/banner.png'); }


/****************************************/
/* POSTEROUS OVERRIDES
/****************************************/
div.posterousGalleryMainDiv { margin: 0; }

/****************************************/
/* PAGES
/****************************************/
input.button { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; padding: 0 20px; margin: 0 0 0 5px; background-color: #aaa; border: 0 none; color: #FFFFFF; cursor: pointer; font-size:15px; font-weight: bold; height: 28px; line-height: 28px; text-decoration: none; white-space: nowrap; width: auto; }
input.button:hover { background-color:#777; }

/****************************************/
/* ESSAYS
/****************************************/
#main .feed .item.writings h2 { font-size: 18px; font-family: Arial; font-weight: bold; color: #5d5d5d; text-shadow: 1px 1px 1px #fff; }
#main .feed .item.writings h3 { font-size: 36px; line-height: 1.2em; }
#main .feed .item.writings h4 { display: none; }
#main .feed .item.writings h5 { display: none; }
#main .feed .item.writings h6 { display: none; }
#main .feed .item.writings img { float: left; margin: 5px 20px 20px 0; }
#main .feed .item p.cta { display: none; }
#main .feed.writings .item.writings p.cta { text-indent: 0; display: block; margin: 0; font-weight: bold; }
#main .feed.writings .item.writings p { text-align: justify; text-justify: newspaper; text-indent: 20px; margin-bottom: 0; }